<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.com.alaadcin">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <permission
        android:name="com.com.alaadcin.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission
        android:name="com.sonix.driver.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.com.alaadcin.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sonix.driver.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    android:preserveLegacyExternalStorage="true"-->

    <application
        android:name="com.general.files.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme"
        tools:replace="android:allowBackup">


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.com.alaadcin.AllPermissionsHandleActivity" />
        <activity android:name="com.com.alaadcin.MoreServiceInfoActivity" /> <!-- Register the Alarm Receiver -->
        <receiver
            android:name="com.general.files.AlarmReceiver"
            android:enabled="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_geo_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name="com.general.files.SinchService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service android:name="com.general.files.ChatHeadService" />
        <service android:name="com.com.alaadcin.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.general.files.UpdateDriverStatus"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="Update Status" />
        <service
            android:name="com.general.files.UpdateDriverLocationService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="Update Locations" />
        <service
            android:name="com.general.files.UpdateTripLocationsService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="Update Locations" />
        <!--
 <service
            android:name="com.general.files.MyBackGroundService"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Service Alert"
            android:persistent="true" />
        -->
        <service
            android:name="com.general.files.ConfigDriverTripStatusJobService"
            android:exported="false"
            android:label="Status Update Service">
            <intent-filter>
                <action android:name="androidx.work.Worker.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <!--
<receiver
            android:name=".StartServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.sonix.driver.StartServiceReceiver" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
        -->
        <receiver
            android:name="com.com.alaadcin.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.general.files.LocationUpdateService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="Location Dispatch"
            android:persistent="true" />
        <service
            android:name="com.general.files.OnClearFromRecentService"
            android:stopWithTask="false" />

        <activity
            android:name="com.com.alaadcin.LauncherActivity"
            android:screenOrientation="portrait">

            <!-- android:launchMode="singleTask" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FBtheme"
            tools:replace="android:theme" />
        <activity
            android:name="com.twitter.sdk.android.core.identity.OAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.AppLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="com.com.alaadcin.SelectCountryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.com.alaadcin.MyHeatViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SearchPickupLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.AppLoignRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.com.alaadcin.StaticPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.QuestionAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.CabRequestedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" /> <!-- android:launchMode="singleTask" -->
        <activity
            android:name="com.com.alaadcin.DriverArrivedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ActiveTripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.CollectPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.TripRatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SelectedDayHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.RideHistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.DriverFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ViewDeliveryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.MyWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.MyWalletHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.InviteFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.VerifyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.CardPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ListOfDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.UploadDocActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ManageVehiclesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.AddVehicleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.OrderStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.AccountverificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SuspendedDriver_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.EmergencyContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ConfirmEmergencyTapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.WayBillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.HailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.FareBreakDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.PrefranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.BankDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.UfxCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.AddServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SetAvailabilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.setTimeScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SearchLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.MaintenanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.UploadDocTypeWiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.WorkLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.com.alaadcin.VerifyCardTokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.omise.android.ui.CreditCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OmiseSDKTheme" />
        <activity
            android:name="com.com.alaadcin.RentalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.RentalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xendit.XenditActivity"
            android:screenOrientation="portrait" /> <!-- Multi Delivery Screen -->
        <activity
            android:name="com.com.alaadcin.ViewMultiDeliveryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.AdditionalChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cropper.CropImageActivity"
            android:screenOrientation="portrait" /> <!-- Deliver all Activities -->
        <activity
            android:name="com.com.alaadcin.driver.DeliverAllCabRequestedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.DeliverAllRatingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.LiveTaskListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.LiveTrackOrderDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.LiveTrackOrderDetail2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.TrackOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.OrderHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.OrderDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.PaymentCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.CallScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.IncomingCallScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.NotificationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.livechatinc.inappchat.ChatWindowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.MyGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.ViewStopOverDetailsActivity"
            android:screenOrientation="portrait" /> <!-- Driver Subscription Feature -->
        <activity
            android:name="com.com.alaadcin.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SubscriptionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SubscriptionPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.SubscribedPlanConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.BookingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.driver.UserPrefrenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.com.alaadcin.WithdrawBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.general.files.CovidDialog"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>